body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #0078d4;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.project {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.project h2 {
    font-size: 24px;
    color: #0078d4;
}
/* ... (otros estilos) ... */

.top-menu {
    background-color: #0078d4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.top-menu li {
    margin: 0 20px;
}

.top-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* ... (otros estilos para el contenido) ... */

.project p {
    font-size: 18px;
}
